/* CSS reset 开始 */
html,
body {
    height: 100%;
    /*禁用滚动条 */
    overflow: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font: 14px "微软雅黑";
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

/* CSS reset 结束 */
/* common CSS 开始 */
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.commonTitle {
    color: #009ee0;
    font-size: 80px;
    line-height: 0.8;
    font-weight: bold;
    letter-spacing: -5px;
}
.commonText {
    color: white;
    line-height: 1.5;
    font-size: 15px;
}
/* common CSS 结束 */